AddDefaultCharset UTF-8
RewriteEngine on


RewriteCond %{HTTP_HOST} ^www.tech.z1q\.ru$ [NC]
RewriteRule ^(.*)$ http://tech.z1q/$1 [R=301,L]

RewriteRule ^/?$ index.php?p=index [L]
RewriteRule ^image/?$ index.php?p=image [L]
RewriteRule ^blogurl/?$ index.php?p=blogurl [L]
RewriteRule ^converter/?$ index.php?p=converter [L]
RewriteRule ^convtext/?$ index.php?p=convtext [L]
RewriteRule ^parseurl/?$ index.php?p=parseurl [L]
RewriteRule ^testpr/?$ index.php?p=testpr [L]
#RewriteRule ^news/(.*)/(.*)$ index.php?p=news&nid=$1 [L]
#RewriteRule ^links/?$ index.php?p=links [L]
RewriteRule ^restoran/?$ index.php?p=restoran [L]
#RewriteRule ^gallery/(.*)/(.*)$ index.php?p=gallery&sgal=$1 [L]

#RewriteRule ^sitemap.xml?$ sitemap.xml
#RewriteRule ^sitemap.php?$ sitemap.php